---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";

const pageTabTitle = "Xavier Khew";

import Github from "../components/socials/Github.astro";
import Instagram from "../components/socials/Instagram.astro";
import X from "../components/socials/X.astro";
import Hr from "../components/Hr.astro";
---

<Layout title={pageTabTitle}>
  <section class='pt-s'>
    <p class='pb-xs'>
      Welcome to my blog, this is where I share my thoughts, experiences and
      probably <br class='hidden md:block' /> everything & anything that I would
      want to share. Hope you enjoy!
    </p>
    <div class='pb-xs'>
      <p>Social Links:</p>
      <div class='flex gap-xxs pt-xxxs'>
        <Github size={25} />
        <Instagram size={25} />
        <X size={25} />
      </div>
    </div>
    <Hr />
  </section>

  <section class='pt-m'>
    <h1 class='font-medium text-xl lg:text-xl'>Featured</h1>
  </section>
</Layout>
