<nav class='mb-xxs flex justify-between items-center'>
  <div class='text-xl lg:text-2xl font-bold'>X Blogs</div>
  <div class=''>
    <a href='/posts' class='mr-s text-base lg:text-lg no-underline'>Posts</a>
    <a href='/Tags' class='mr-s text-base lg:text-lg no-underline'>Tags</a>
    <a href='/about' class='text-base lg:text-lg no-underline'>About</a>
  </div>
</nav>
